<template>
  <div class="gitlabfeed">
    <v-content class="mb-3">
      <h1>Code Base</h1>
    </v-content>

    <v-content
      v-for="project in projects"
      :id="project.name"
      class="project-container"
      v-bind:key="project.id"
    >
      <h2>
        <a :href="project.web_url" target="_blank">{{project.name}}</a>
      </h2>
      <p class="lead">{{project.description}}</p>

      <div v-for="branch in project.branches" :id="branch.commit.id" :key="branch.id">
        <p v-text="branchInfo(branch)" class="small"></p>
      </div>
    </v-content>
  </div>
</template>

<script>
import moment from "moment";
import "moment-duration-format";
import axios from "axios";

export default {
  name: "GitLabFeed",
  data() {
    return {
      projects: [],
      now: ""
    };
  },
  created() {
    //Get info about all projects
    const userURI = "https://gitlab.com/api/v4/users/souldeux/projects";
    //First, grab base profile info
    axios.get(userURI).then(response => {
      var _projects = [];
      //For each project in the profile, get info about all branches
      response.data.map(function(obj) {
        var branchesURI =
          "https://gitlab.com/api/v4/projects/" +
          obj.id +
          "/repository/branches";
        axios.get(branchesURI).then(response => {
          obj.branches = response.data;
          _projects.push(obj);
        });
      });
      this.projects = _projects;
    });

    //Update self.now periodically
    var self = this;
    setInterval(function() {
      self.now = Date.now();
    }, 250);
  },
  methods: {
    displayedTime(timestamp) {
      //Make a Date object from the timestamp we get from gitlab
      var ts = new Date(timestamp);
      //Figure out the difference between now and the timestamp
      return moment.duration(this.now - ts.getTime()).format() + " ago";
    },
    branchInfo(branch) {
      return (
        "Last update to " +
        branch.name +
        ": " +
        branch.commit.title +
        " (" +
        this.displayedTime(branch.commit.committed_date) +
        ")"
      );
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
.project-container {
  margin-bottom: 3em;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.small {
  font-size: 0.75rem;
}
</style>
