<template>
  <div class="hello">
    <v-content>
      <h1 class="display-3">Souldeux's Playground</h1>
    </v-content>
    <v-content>
      <img alt="My Face" src="../assets/sface.jpg" class="img-round">
    </v-content>
    <v-content>
      <h2 class="headline">I'm Nic. I make APIs and I stuff them into containers.</h2>
    </v-content>
    <v-content>
      <p class="body-2">This is my development site &amp; general sandbox</p>
      <p class="body-2">
        You can
        <a href="mailto:nperry08@gmail.com">email me</a> if you want to chat
      </p>
      <p class="body-2">Find me around the web:</p>
      <ul>
        <li>
          <a href="http://souldeux.com">souldeux.com</a>
        </li>
        <li>
          <a href="https://twitter.com/souldeux">@souldeux</a>
        </li>
        <li>
          <a href="https://gitlab.com/souldeux/">gitlab</a>
        </li>
        <li>
          <a href="https://stackoverflow.com/story/nickperry">stack overflow</a>
        </li>
      </ul>
    </v-content>
  </div>
</template>

<script>
export default {
  name: "HelloWorld"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>
