<template>
  <div class="login">
    <v-content>
      <v-layout row wrap class="justify-center">
        <v-flex xs12 sm6 md3>
          <v-form ref="loginForm" @submit.prevent="login">
            <v-text-field
              v-model="email"
              label="email"
              append-icon="person"
              type="email"
              :rules="[rules.required]"
            ></v-text-field>
            <v-text-field
              v-model="password"
              label="password"
              :append-icon="showPassword ? 'visibility' : 'visibility_off'"
              :type="showPassword? 'text' : 'password'"
              @click:append="showPassword = !showPassword"
              hint="If you have to ask..."
              :rules="[rules.required]"
            ></v-text-field>
            <v-btn color="primary" type="submit">
              <span v-show="!showLoginSpinner">Login</span>
              <v-progress-circular color="white" v-show="showLoginSpinner" indeterminate></v-progress-circular>
            </v-btn>
          </v-form>
        </v-flex>
      </v-layout>
      <v-snackbar
        top
        v-model="loginErrorSnackbar"
        color="error"
        :timeout="loginErrorSnackbarTimeout"
        :multi-line="true"
      >
        Those credentials don't work
        <v-btn dark flat @click="loginErrorSnackbar = false">CLOSE</v-btn>
      </v-snackbar>
    </v-content>
  </div>
</template>

<script>
import axios from "axios";
import developmentCatch from "@/utils/error_handling";

export default {
  name: "Login",
  data: function() {
    return {
      password: "",
      showPassword: false,
      email: "",
      showLoginSpinner: false,
      loginErrorSnackbar: false,
      loginErrorSnackbarTimeout: 5000,
      rules: {
        required: value => !!value || "Required"
      }
    };
  },
  methods: {
    login() {
      if (!this.$refs.loginForm.validate()) {
        return;
      }
      this.showLoginSpinner = true;
      axios
        .post(process.env.VUE_APP_API_ROOT + "api/v1/users/auth/", {
          email: this.email,
          password: this.password
        })
        .then(response => {
          console.log("Success: ", response.data);
          this.$store.commit("set_token", response.data.token);
          this.$router.push("/");
        })
        .catch(error => {
          this.showLoginSpinner = false;
          this.loginErrorSnackbar = true;
          developmentCatch(error);
        });
    }
  }
};
</script>