<template>
  <div class="editor">

    <v-content class="mb-3">
      <h1>Markdown Scratchpad</h1>
    </v-content>
    <v-content>
      <textarea :value=input @input="update"></textarea>
      <div v-html="compiledMarkdown"></div>
    </v-content>
  </div>
</template>

<script>
import marked from 'marked'
import _ from 'lodash'

export default{
  name: "MarkdownEditor",
  data () {
    return {
      input: "# Hello! \n\n ---- \n\nThis is a ~~simple~~ super cool **markdown** __editor__. \
      \n\nEnter raw [markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) in the scratchpad and behold the magic!"
    }
  },
  computed: {
    compiledMarkdown: function() {
      return marked(this.input, {sanitize: true})
    }
  },
  methods: {
    update: _.debounce(function (e) {
      this.input = e.target.value
    }, 300)
  }
}
</script>

<style scoped>
html, body, .editor {
  margin: 0;
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
}

textarea, .editor div {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 20px;
}

textarea {
  border: none;
  height: 500px; /* need to implement autoresize */
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  padding: 20px;
}
code {
  color: #f66;
}
</style>
