<template>
  <div class="navbar">
    <v-navigation-drawer temporary app v-model="showNavDrawer" width="240">
      <v-list>
        <v-list-tile v-for="item in items" :key="item.title" :to="{ name: item.routerTitle }" exact>
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          v-if="this.$store.getters.isLoggedIn"
          @click="$store.commit('clear_token'); $router.push('/')"
        >
          <v-list-tile-action>
            <v-icon>exit_to_app</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>Logout</v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-if="!this.$store.getters.isLoggedIn" :to="{name: 'Login'}">
          <v-list-tile-action>
            <v-icon>chevron_right</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>Login</v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar dense flat app>
      <v-toolbar-side-icon class="hidden-md-and-up" v-on:click="showNavDrawer = !showNavDrawer"></v-toolbar-side-icon>
      <v-toolbar-title>
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <span v-on="on">sdx</span>
          </template>
          <span>api: {{apiStatus}}</span>
          <v-divider></v-divider>
          <span>you: {{$store.getters.isLoggedIn ? 'authenticated' :'unauthenticated'}}</span>
        </v-tooltip>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-toolbar-items class="hidden-sm-and-down">
        <!--
          Marked as `exact` because otherwise the base `/` route always
          get the active class applied in the navbar
          https://router.vuejs.org/api/#exact
        -->
        <v-btn
          flat
          v-for="item in items"
          :key="item.title"
          :to="{ name: item.routerTitle }"
          exact
        >{{item.title}}</v-btn>
        <v-btn
          v-if="this.$store.getters.isLoggedIn"
          flat
          @click="$store.commit('clear_token'); $router.push('/')"
        >Logout</v-btn>
        <v-btn v-if="!this.$store.getters.isLoggedIn" flat :to="{name: 'Login'}">Login</v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Navbar",
  data: function() {
    return {
      apiStatus: "checking...",
      showNavDrawer: false,
      items: [
        { icon: "home", title: "Home", routerTitle: "HelloWorld" },
        //{ icon: "code", title: "GitLab Feed", routerTitle: "GitLabFeed" },
        { icon: "child_care", title: "SightWords", routerTitle: "SightWords" },
        //{
        //  icon: "create",
        //  title: "Scratchpad",
        //  routerTitle: "MarkdownScratchpad"
        //},
        { icon: "book", title: "Blog", routerTitle: "Blog" }
      ]
    };
  },
  mounted() {
    // Get the API status immediately, then update periodically
    this.setAPIStatus();
    setInterval(() => {
      this.setAPIStatus(true);
      // Check the status once a minute, as long as the window has focus.
    }, 1000 * 60);
  },
  methods: {
    setAPIStatus(checkFocus = false) {
      // Get the status of the API by hitting the healthcheck
      // endpoint. A successful response means a healthy API.
      // Optionally provide checkFocus=true to force this to
      // only run when the window has focus
      if (checkFocus) {
        if (!self.document.hasFocus()) {
          return;
        }
      }
      axios
        .get(process.env.VUE_APP_API_ROOT)
        .then(response => {
          console.log("Success: ", response);
          this.apiStatus = "ok";
        })
        .catch(error => {
          console.log("Error: ", error);
          this.apiStatus = "not ok";
        });
      return;
    }
  }
};
</script>