<template>
  <div class="bloglist">
    <v-content v-show="apiError != ''">
      <h1 style="display-2">{{apiError}}</h1>
    </v-content>
    <v-layout row wrap justify-center>
      <v-flex sm12 md9>
        <div v-for="post in blogPosts" :key="post.slug" exact class="text-md-left">
          <v-content>
            <router-link
              :to="{name: 'BlogDetail', params: {'slug': post.slug}}"
              :class="post.published ? 'display-1' : 'display-1 unpublished'"
            >{{post.title}}</router-link>
            <p class="pt-2">{{post.datetime_published ? momentPublished(post) : 'unpublished'}}</p>
            <v-divider></v-divider>
          </v-content>
          <v-content>
            <div v-html="truncateContent(post.content)"></div>
            <router-link
              :to="{name: 'BlogDetail', params: {'slug': post.slug}}"
              class="caption right"
            >continue reading</router-link>
          </v-content>
        </div>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import hljs from "highlight.js";
import "highlight.js/styles/solarized-light.css";

const marked = require("marked");

export default {
  name: "BlogList",
  data: function() {
    return {
      apiError: "",
      blogPosts: []
    };
  },
  created() {
    this.loadBlogPosts();
  },
  methods: {
    loadBlogPosts: function() {
      // Load all blog posts from the server
      axios
        .get(process.env.VUE_APP_API_ROOT + "api/v1/blog/")
        .then(response => {
          this.blogPosts = response.data.results;
          if (
            response.data.results === undefined ||
            response.data.results.length === 0
          ) {
            this.apiError = "No posts yet - check back soon!";
          }
        })
        .catch(error => {
          this.apiError =
            "API Error: " +
            error.response.status +
            " " +
            error.response.data.detail;
        });
    },
    momentPublished: function(post) {
      console.log(post.slug, post.datetime_published);
      return moment(post.datetime_published).format("LL");
    },
    truncateContent: function(content) {
      // Return the first paragraph of compiled markdown from the given content
      return marked(content.split("\n")[0], {
        renderer: new marked.Renderer(),
        gfm: true,
        pedantic: false,
        breaks: true,
        sanitize: true,
        smartLists: true,
        smartypants: true,
        tables: true,
        xhtml: true,
        mangle: true,
        highlight: function(code) {
          return hljs.highlightAuto(code).value;
        }
      });
    }
  }
};
</script>

<style scoped>
.unpublished {
  color: gray;
}
</style>