<template>
  <div class="blogdetail">
    <v-content v-show="apiError != ''">
      <h1 style="display-2">{{apiError}}</h1>
    </v-content>
    <v-content v-show="apiError == ''">
      <v-layout row wrap justify-center>
        <v-flex sm12 md9>
          <h1 class="display-2 mb-3">{{post.title}}</h1>
          <p class="caption">{{post.published ? 'Published ' + momentPublished: 'unpublished'}}</p>
          <v-divider></v-divider>
          <v-content>
            <div v-html="compiledMarkdown" class="text-xs-left"></div>
          </v-content>
          <router-link :to="{name: 'Blog'}" class="right">back to index</router-link>
        </v-flex>
      </v-layout>
    </v-content>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import hljs from "highlight.js";
import "highlight.js/styles/solarized-light.css";

const marked = require("marked");

export default {
  name: "BlogDetail",
  data: function() {
    return {
      apiError: "",
      compiledMarkdown: "",
      post: {}
    };
  },
  computed: {
    momentPublished: function() {
      return moment(this.post.datetime_published).format("LLLL");
    }
  },
  created() {
    this.loadBlogPost(this.$route.params.slug);
  },
  watch: {
    $route: {
      // is this necessary?
      handler: function(to, from) {
        this.loadBlogPost(to.params.slug);
      }
    }
  },
  methods: {
    loadBlogPost: function(slug) {
      // Load a blog post from the server by its id
      axios
        .get(process.env.VUE_APP_API_ROOT + "api/v1/blog/" + slug + "/")
        .then(response => {
          this.post = response.data;
          this.compiledMarkdown = marked(this.post.content, {
            renderer: new marked.Renderer(),
            gfm: true,
            pedantic: false,
            breaks: true,
            sanitize: true,
            smartLists: true,
            smartypants: true,
            tables: true,
            xhtml: true,
            mangle: true,
            highlight: function(code) {
              return hljs.highlightAuto(code).value;
            }
          });
        })
        .catch(error => {
          this.apiError =
            "API Error: " +
            error.response.status +
            " " +
            error.response.data.detail;
        });
    }
  }
};
</script>

<style>
code {
  padding: 0em 0.2em;
}
code:first-child:before {
  content: "";
}

/* Match the margin-bottom Vuetify applies to paragraph
elements, so that the spacing between lists & surrounding
content looks more consistent with the spacing between
paragraphs and other paragraphs/other elements. Make sure
to target from "one level up" like this so that margins
don't go crazy within nested lists - we effectively only
want "top-level" lists to get this treatment. */
div > ul,
ol {
  margin-bottom: 16px;
}
</style>