<template>
  <div class="blogedit">
    <v-content>
      <v-layout row wrap justify-center>
        <v-flex xs12 sm9>
          <v-form ref="editForm" @submit.prevent="save">
            <v-container>
              <v-text-field v-model="title" label="title" type="text" :rules="[rules.required]"></v-text-field>
              <v-textarea
                auto-grow
                v-model="content"
                label="content"
                :rules="[rules.required]"
                @input="update"
              ></v-textarea>
            </v-container>

            <v-container>
              <v-layout row wrap justify-center>
                <v-flex xs12 sm9>
                  <v-text-field v-model="slug" label="slug" type="text" :rules="[rules.required]"></v-text-field>
                </v-flex>
                <v-flex xs12 sm3>
                  <v-checkbox v-model="published" label="published"></v-checkbox>
                </v-flex>
              </v-layout>
            </v-container>

            <v-container>
              <v-btn color="primary" type="submit">
                <span v-show="!showSaveSpinner">Save</span>
                <v-progress-circular color="white" v-show="showSaveSpinner" indeterminate></v-progress-circular>
              </v-btn>
            </v-container>
          </v-form>
          <v-divider></v-divider>
          <v-container>
            <div v-html="compiledMarkdown" class="text-xs-left"></div>
          </v-container>
        </v-flex>
      </v-layout>
    </v-content>
  </div>
</template>

<script>
import axios from "axios";
import developmentCatch from "@/utils/error_handling";
import _ from "lodash";
import hljs from "highlight.js";
import "highlight.js/styles/solarized-light.css";

const marked = require("marked");

export default {
  name: "BlogEdit",
  data: function() {
    return {
      title: "",
      content: "",
      slug: "",
      published: false,
      showSaveSpinner: false,
      rules: {
        required: value => !!value || "Required"
      }
    };
  },
  created() {
    // If we're editing a post, load that post
    if (this.$router.currentRoute.name === "BlogEdit") {
      this.load(this.$route.params.slug);
    }
  },
  watch: {
    $route: {
      // is this necessary?
      handler: function(to, from) {
        this.load(to.params.slug);
      }
    }
  },
  computed: {
    compiledMarkdown: function() {
      return marked(this.content, {
        renderer: new marked.Renderer(),
        gfm: true,
        pedantic: false,
        breaks: true,
        sanitize: true,
        smartLists: true,
        smartypants: true,
        tables: true,
        xhtml: true,
        mangle: true,
        highlight: function(code) {
          return hljs.highlightAuto(code).value;
        }
      });
    }
  },
  methods: {
    update: _.debounce(function(e) {
      this.content = e.target.value;
    }, 300),
    load: function(slug) {
      axios
        .get(process.env.VUE_APP_API_ROOT + "api/v1/blog/" + slug + "/")
        .then(response => {
          (this.title = response.data.title),
            (this.content = response.data.content),
            (this.slug = response.data.slug),
            (this.published = response.data.published);
        })
        .catch(error => {
          this.showSaveSpinner = false;
          developmentCatch(error);
        });
    },
    save: function() {
      if (!this.$refs.editForm.validate()) {
        return;
      }
      this.showSaveSpinner = true;
      if (this.$router.currentRoute.name === "BlogEdit") {
        //edit action
        axios
          .put(
            process.env.VUE_APP_API_ROOT +
              "api/v1/blog/" +
              this.$route.params.slug +
              "/",
            {
              title: this.title,
              content: this.content,
              slug: this.slug,
              published: this.published
            }
          )
          .then(response => {
            this.$router.push({
              name: "BlogDetail",
              params: { slug: response.data.slug }
            });
          })
          .catch(error => {
            this.showSaveSpinner = false;
            developmentCatch(error);
          });
      } else {
        //create action
        axios
          .post(process.env.VUE_APP_API_ROOT + "api/v1/blog/", {
            title: this.title,
            content: this.content,
            slug: this.slug,
            published: this.published
          })
          .then(response => {
            this.$router.push({
              name: "BlogDetail",
              params: { slug: response.data.slug }
            });
          })
          .catch(error => {
            this.showSaveSpinner = false;
            developmentCatch(error);
          });
      }
    }
  }
};
</script>
