<template>
  <v-app>
    <navbar></navbar>
    <v-content class="mt-5 pa-2">
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
import Navbar from "./components/Navbar.vue";
export default {
  name: "App",
  components: {
    navbar: Navbar
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.img-round {
  border-radius: 50%;
}

a {
  text-decoration: none;
}
</style>
