<template>
  <v-container grid-list-xl>
    <v-layout row wrap>
      <v-flex xs12 sm4>
        <p class="font-weight-light headline">First-Run Pass Rate</p>
        <v-progress-circular
          :value="firstRunPassRate"
          color="teal"
          size=100
          width=10
        >
          {{firstRunPassRate}}%
        </v-progress-circular>
        <p headline>{{countCompletedInOneAttempt}} of {{this.run.completed.length + this.run.needsRetry.length}}</p>
      </v-flex>

      <v-flex xs12 sm4>
        <p class="font-weight-light headline">Total Attempts</p>
        <p class='display-4 font-weight-black'>{{totalAttempts}}</p>
      </v-flex>

      <v-flex xs12 sm4>
        <p class="font-weight-light headline">Average Per Word</p>
        <p class='display-4 font-weight-black'>{{averageAttempts}}</p>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default{
  name: 'AfterRunReport',
  props: ['run'],
  computed: {
    remaining: function() {
      return (this.run.notTried.length + this.run.needsRetry.length + ((this.run.currentWord) ? 1 : 0));
    },

    countCompletedInOneAttempt: function() {
      return this.run.completed.filter(function (wordObj) {
        return wordObj.attempts === 1;
      }).length
    },

    firstRunPassRate: function () {
      /*
      The first-run pass rate is the number of words that have been
      successfully completed with a single attempt, compared to the
      total number of words that have been completed, plus any awaiting
      retry
      */
      //If there have been no attempts recorded, return 0.00
      if (this.totalAttempts === 0) {
        return (0).toFixed(2);
      }
      return ((
        this.countCompletedInOneAttempt / (this.run.completed.length + this.run.needsRetry.length)
      ) * 100).toFixed(2);
    },

    totalAttempts: function() {
      //Returns the total number of attempts made across both completed and needsRetry,
      //and the current word
      var needsRetryAttempts = this.run.needsRetry.reduce(function (accumulator, wordObj) {
        return accumulator + wordObj.attempts;
      }, ((this.run.currentWord) ? this.run.currentWord.attempts : 0));

      return this.run.completed.reduce(function (accumulator, wordObj) {
        return accumulator + wordObj.attempts;
      }, needsRetryAttempts);

    },

    averageAttempts: function() {
      //If there have been no attempts recorded, return 0.00
      if (this.totalAttempts === 0) {
        return "0.00";
      }
      //Returns the average number of attempts
      return (this.totalAttempts / (
          this.run.completed.length + this.run.needsRetry.length + ((this.run.currentWord) ? this.run.currentWord.attempts : 0)
      )).toFixed(2);
    },

  }
}
</script>
