<template>
  <div class="sightwords">
    <v-content class="mb-3">
      <h1>{{title}}</h1>
    </v-content>

    <v-content>
      <!-- Buttons for selecting a wordlist -->
      <v-btn
        color="info"
        v-for="wordlist in wordlists"
        v-on:click="startRun(wordlist.id)"
        v-show="showSelectors"
        :key="wordlist.id"
      >{{wordlist.name}}</v-btn>

      <!-- Restart button -->
      <v-btn small color="warning" v-on:click="startRun(null)" v-show="!showSelectors">Restart</v-btn>

      <v-btn
        small
        color="info"
        v-show="!showSelectors"
        v-on:click="showReport = !showReport"
      >{{showReport ? 'Hide' : 'Show'}} Report</v-btn>
    </v-content>

    <v-container v-if="currentRun.currentWord">
      <v-layout align-center justify-center>
        <v-flex sm2>
          <v-btn fab dark large color="success" v-on:click="passWord(currentRun.currentWord)">
            <v-icon dark>check</v-icon>
          </v-btn>
        </v-flex>

        <v-flex sm8>
          <v-card color="cyan" dark>
            <v-card-text class="doubled font-weight-bold">{{currentRun.currentWord.word}}</v-card-text>
          </v-card>
        </v-flex>

        <v-flex sm2>
          <v-btn fab dark large color="indigo" v-on:click="failWord(currentRun.currentWord)">
            <v-icon dark>clear</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container v-show="showReport">
      <run-report v-bind:run="currentRun"></run-report>
    </v-container>

    <v-container v-show="!showSelectors">
      <v-layout>
        <v-flex xs8 offset-xs2>
          <v-progress-linear color="cyan" v-model="progressIncrementer"></v-progress-linear>
        </v-flex>
      </v-layout>

      <v-layout>
        <v-flex xs4>
          <word-column
            header="Untried words"
            hideCounts="true"
            v-bind:wordContainer="currentRun.notTried"
          ></word-column>
        </v-flex>

        <v-flex xs4>
          <word-column header="Retry Required" v-bind:wordContainer="currentRun.needsRetry"></word-column>
        </v-flex>

        <v-flex xs4>
          <word-column header="Completed Words" v-bind:wordContainer="currentRun.completed"></word-column>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import WordColumn from "./WordColumn.vue";
import AfterRunReport from "./AfterRunReport.vue";
import axios from "axios";

const emptyWordlist = {
  id: null,
  name: "Empty Wordlist",
  words: []
};

export default {
  name: "SightWords",
  data: function() {
    return {
      title: "SightWords Training",
      showOptions: true,
      showReport: false,
      wordlists: [],
      selectedWordlist: emptyWordlist,
      showSelectors: true,
      currentRun: {
        notTried: [],
        needsRetry: [],
        completed: [],
        currentWord: null
      }
    };
  },
  components: {
    "word-column": WordColumn,
    "run-report": AfterRunReport
  },
  computed: {
    progressIncrementer: function() {
      return (
        (this.currentRun.completed.length /
          this.selectedWordlist.words.length) *
        100
      );
    }
  },
  created() {
    this.loadWordlists();
  },
  methods: {
    loadWordlists: function() {
      // Load (the first 100) wordlists from the API's list endpoint
      axios
        .get(process.env.VUE_APP_API_ROOT + "api/v1/wordlists/")
        .then(response => {
          this.wordlists = response.data.results;
          // sort wordlists by ID
          this.wordlists.sort((a, b) =>
            a.id > b.id ? 1 : b.id > a.id ? -1 : 0
          );
        })
        .catch(error => {
          this.title =
            "API Error: " +
            error.response.status +
            " " +
            error.response.data.detail;
        });
      //console.log(this.wordlists);
    },
    startRun: function(id) {
      //Select and set this.selectedWordlist, shuffle it, clear retry/completed
      //lists, and set the first word of the run from the notTried list. If
      //we've set an empty wordlist, this effectively clears everything out.
      if (id) {
        this.selectedWordlist = this.wordlists.find(obj => {
          return obj.id === id;
        });
        //console.log(this.selectedWordlist);
        this.showSelectors = false;
        this.showReport = false;
      } else {
        this.selectedWordlist = emptyWordlist;
        this.showSelectors = true;
        this.showReport = false;
      }

      //Shuffle the selectedWordlist and insert it into currentRun
      this.currentRun.notTried = this.shuffleAndMap(
        this.selectedWordlist.words
      );
      //Re-initialize the retry/completed arrays
      this.currentRun.needsRetry = [];
      this.currentRun.completed = [];

      //Set the first word of the run from the notTried list
      this.currentRun.currentWord = this.currentRun.notTried.pop();
      return;
    },

    shuffleAndMap: function(array) {
      var currentIndex = array.length,
        tempValue,
        randomIndex;
      //While we have elements to shuffle...
      while (0 !== currentIndex) {
        //Pick a remaining element
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        //Swap it with the current element
        tempValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = tempValue;
      }
      return array.map(item => {
        return { word: item, attempts: 0 };
      });
    },

    passWord: function(word) {
      //console.log("Passing word", word);
      //Add 1 to attempts and unshift word onto current run's completed array
      word.attempts = word.attempts + 1;
      this.currentRun.completed.unshift(word);
      this.currentRun.currentWord = this.getNextWord();
    },

    failWord: function(word) {
      //console.log("Failing word", word);
      //Add 1 to attempts and unshift word onto current run's needsRetry array
      word.attempts = word.attempts + 1;
      this.currentRun.needsRetry.unshift(word);
      this.currentRun.currentWord = this.getNextWord();
    },

    getNextWord: function() {
      //If the current run's notTried array contains anything, pop a val and return
      if (this.currentRun.notTried.length > 0) {
        //console.log("Pulling next word from notTried")
        return this.currentRun.notTried.pop();
      } else {
        //no? pop from the "needs retry" array, even if it's empty
        //console.log("Pulling next word from needsRetry")
        return this.currentRun.needsRetry.pop();
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

.doubled {
  font-size: 5em;
}
</style>
