<template>
  <div>
    <h3>{{header}}</h3>

    <v-list :style="{'background': 'transparent'}">
      <template v-for="(word, index) in wordContainer">
        <v-list-tile v-if="hideCounts" :key="word.word">
          <v-list-tile-content :style="{'align-items': 'center'}" v-html="word.word"></v-list-tile-content>
        </v-list-tile>

        <v-list-tile v-else :key="word.word">
          <v-list-tile-content :style="{'align-items': 'center'}">
            <span>
              {{word.word}}
              <v-chip color="indigo" small outline disabled>{{word.attempts}}</v-chip>
            </span>
          </v-list-tile-content>
        </v-list-tile>

        <v-divider v-if="index !== wordContainer.length - 1" :key="word.word + wordContainer.name"></v-divider>
      </template>
    </v-list>
  </div>
</template>

<script>
export default {
  name: "WordColumn",
  props: ["header", "wordContainer", "hideCounts"]
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>
